BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
SortIncludes: true
SpaceAfterTemplateKeyword: true
PointerAlignment: Left
